.page {
  padding: 96px;
  font-family: Verdana, Geneva, sans-serif;
}

.heading {
  margin-top: 0;
  max-width: 320px;
}

.heading-accent {
  color: #663399;
}

.list {
  margin-bottom: 96px;
  padding-left: 0;
}

.list-item {
  font-weight: 300;
  font-size: 24px;
  max-width: 560px;
  margin-bottom: 30px;
}

.link {
  color: #8954a8;
  font-weight: bold;
  font-size: 16px;
  vertical-align: 5%;
}

.description {
  color: #232129;
  font-size: 14px;
  margin-top: 10px;
  margin-bottom: 0;
  line-height: 1.25;
}

.category {
  color: #663399;
  font-size: 12px;
  font-weight: bold;
  padding-right: 10px;
  text-transform: uppercase;
}

.search-box {
  width: 25%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
}

.search-box:focus {
  outline: none;
  border-color: #8954a8;
  box-shadow: 0 0 5px rgba(137, 84, 168, 0.5);
}